<h1>{{title}}</h1>

<table>
    <thead>
      <td><b>Planets</b></td>
      <td></td>
    </thead>
    <tbody>
      <tr *ngFor="let node of nodes; let idx = index">
        <td>{{ node.nodeName }}</td>
        <td>
            <input type="radio" name="radiogroup" [checked]="idx === 0" 
            [value]="node.nodeName" (change)="onSelectionChange(node)">

        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="selectedEntry">

    <h3><b>Shortest path between {{refNode}} and {{selectedEntry.nodeName}}</b></h3>
    <p>Distance: {{selectedEntry.nodeDistance}} </p>
    <div >
        <span>Path: </span>
        <span *ngFor="let nodePath of selectedEntry.path">{{nodePath }}</span>
        <span>{{selectedEntry.nodeName}}</span>

    </div>
    

  </div>
